@charset "UTF-8";
.table_content{
   border-collapse: collapse; /*테이블 라인선 통합*/
   border-top-width: 2px;
   border-bottom-width: 1px;
   border-top-style: solid;
   border-bottom-style: solid;
   border-top-color: black;
   border-bottom-color: black;
}
.table_content th, .table_content td{
   margin:0px; /* 브라우저의 여백 */
   padding: 8px; /* 태그 안에서 여백*/
   font-size:9pt;  
}
.table_content th{
   background-color: #999;
   color: #fff;
   border-width: 1px;
}
.table_content td{
   border-bottom-width: 1px;
   border-bottom-style: dotted;
   border-bottom-color: #666;
   
}
.table_content .tdleft{
   text-align: left;
}
.table_content .tdright{
   text-align: right;
}
.table_content .tdcenter{
   text-align: center;
}
.table_content .dataTr:hover{
   cursor: pointer;
   background-color: rgb(255, 128, 128);
}