<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
  <!-- 
         !!공백앞에 있는 거 하나만 가져온다 button.btn!!
  		<button class ="btn btn -sm btn-danger">
  		<div class ="title aa"> -> 클래스명 여러개를 한번에 둔거다 (공통 적용 한다는 소리)
  		class => 여러개 사용 가능 (디자인 :개별, 공통, 색상) => 공백으로 구분
   -->
	        <div class="list-photo_wrap">
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/415676/923979_1597451518946_42091?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item" 
                      ng-click="mp20_gallery_open(0)" role="img" aria-label="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트" title="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/415676/923979_1597451518946_42091?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="메종조 사진 - 서울시 서초구 서초동 1476-10"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>

                <div class="last_image" >
                  <p class="txt">
                    사진 더보기
                    <span class="arrow-white"></span>
                  </p>
                </div>
              </figure>
            </figure>
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/415676/181795_1668260321118_1000001882?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item" 
                      ng-click="mp20_gallery_open(1)" role="img" aria-label="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트" title="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/415676/181795_1668260321118_1000001882?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="메종조 사진 - 서울시 서초구 서초동 1476-10"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>

                <div class="last_image" >
                  <p class="txt">
                    사진 더보기
                    <span class="arrow-white"></span>
                  </p>
                </div>
              </figure>
            </figure>
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/415676/181795_1668260321118_1000001883?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item" 
                      ng-click="mp20_gallery_open(2)" role="img" aria-label="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트" title="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/415676/181795_1668260321118_1000001883?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="메종조 사진 - 서울시 서초구 서초동 1476-10"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>

                <div class="last_image" >
                  <p class="txt">
                    사진 더보기
                    <span class="arrow-white"></span>
                  </p>
                </div>
              </figure>
            </figure>
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/415676/181795_1668260321118_1000001884?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item"
                      ng-click="mp20_gallery_open(3)" role="img" aria-label="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트" title="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/415676/181795_1668260321118_1000001884?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="메종조 사진 - 서울시 서초구 서초동 1476-10"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>

                <div class="last_image" >
                  <p class="txt">
                    사진 더보기
                    <span class="arrow-white"></span>
                  </p>
                </div>
              </figure>
            </figure>
            <figure class="list-photo">
              <meta content="https://mp-seoul-image-production-s3.mangoplate.com/415676/181795_1668260321118_1000001885?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"/>
              <figure class="restaurant-photos-item" 
                      ng-click="mp20_gallery_open(4)" role="img" aria-label="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트" title="메종조 - 교대/서초 프랑스 음식 | 맛집검색 망고플레이트">
                <img class="center-croping"
                     src="https://mp-seoul-image-production-s3.mangoplate.com/415676/181795_1668260321118_1000001885?fit=around|512:512&amp;crop=512:512;*,*&amp;output-format=jpg&amp;output-quality=80"
                     alt="메종조 사진 - 서울시 서초구 서초동 1476-10"
                     onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'"/>

                <div class="last_image" ">
                  <p class="txt">
                    사진 더보기
                    <span class="arrow-white"></span>
                  </p>
                </div>
              </figure>
            </figure>
        </div>
</body>
</html>